<?xml version="1.0"?>
<!-- 
/**
 * @category   Indies
 * @package    Indies_Credit
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Indies_Credit>
            <version>3.2.0</version>
			<depends>Indies_Partialpayment</depends>
        </Indies_Credit>
    </modules>
    <frontend>
        <routers>
            <credit>
                <use>standard</use>
                <args>
                    <module>Indies_Credit</module>
                    <frontName>credit</frontName>
                </args>
            </credit>
        </routers>
        <layout>
            <updates>
                <credit>
                    <file>credit.xml</file>
                </credit>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<credit>
				<use>admin</use>
				<args>
					<module>Indies_Credit</module>
					<frontName>credit</frontName>
				</args>
			</credit>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<credit>
					<file>credit.xml</file>
				</credit>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <credit>
                <class>Indies_Credit_Model</class>
                <resourceModel>credit_mysql4</resourceModel>
            </credit>
            <credit_mysql4>
                <class>Indies_Credit_Model_Mysql4</class>
                <entities>
                    <credit>
                        <table>credit</table>
                    </credit>
                </entities>
            </credit_mysql4>
        </models>
        <resources>
            <credit_setup>
                <setup>
                    <module>Indies_Credit</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </credit_setup>
            <credit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </credit_write>
            <credit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </credit_read>
        </resources>
        <blocks>
            <credit>
                <class>Indies_Credit_Block</class>
            </credit>
        </blocks>
        <helpers>
            <credit>
                <class>Indies_Credit_Helper</class>
            </credit>
        </helpers>
		<events>
            <sales_order_save_after>
                <observers>
                    <credit>
                        <class>Indies_Credit_Model_Sales_Order_Observer</class>
                        <method>isCreditLimitExceeded</method>
                    </credit>
                </observers>
            </sales_order_save_after>
		</events>
    </global>
	<default>
		<partialpayment>
        	<credit_group>
				<exceeded_credit_limit_message>Sorry, you have surpassed your deposit payment credit limit.</exceeded_credit_limit_message>
			</credit_group>
		</partialpayment>
	</default>
</config>