.pager-arrow {
	cursor:pointer;
	float:left;
	margin-top:1px;
}

.pager-area {
	width:500px;
	height:16px;
	float:left;
	border:1px solid #bbbbbb;
	border-bottom:none;
	margin-top:1px;
	background-color:#ffffff;
	position:relative;
	overflow:hidden;
}

.pager-inner-area {
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}

.page-tab {
	float:left;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #dddddd;
	border-bottom:none;
	border-bottom:none;
	margin-top:1px;
	font-size:11px;
	font-family:Arial;
	line-height:14px;
	margin-right:1px;
	background-color:#f5f5f5;
	cursor:pointer;
}

.page-tab:hover {
	background-color:#dddddd;
}

.page-tab-active {
	float:left;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #dddddd;
	border-bottom:none;
	border-bottom:none;
	margin-top:1px;
	font-size:11px;
	font-family:Arial;
	line-height:14px;
	color:#ffffff;
	margin-right:1px;
	background-color:#888888;
	cursor:default;
}