<?xml version="1.0"?>
<config>
    <modules>
        <Infomodus_Upslabel>
            <version>0.3.0.1</version>
        </Infomodus_Upslabel>
    </modules>
    <frontend>
        <routers>
            <upslabel>
                <use>standard</use>
                <args>
                    <module>Infomodus_Upslabel</module>
                    <frontName>upslabel</frontName>
                </args>
            </upslabel>
        </routers>
        <layout>
            <updates>
                <upslabel>
                    <file>upslabel.xml</file>
                </upslabel>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <upslabel>
                <use>admin</use>
                <args>
                    <module>Infomodus_Upslabel</module>
                    <frontName>upslabel</frontName>
                </args>
            </upslabel>
            <adminhtml>
                <args>
                    <modules>
                        <Infomodus_Upslabel before="Mage_Adminhtml">Infomodus_Upslabel_Adminhtml</Infomodus_Upslabel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
            <upslabel module="upslabel">
                <title>Upslabel</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="upslabel">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>upslabel/adminhtml_upslabel</action>
                    </items>
                </children>
            </upslabel>
        </menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <upslabel>
                                            <title>UPS Label</title>
                                        </upslabel>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <general>
                            <children>
                                <upslabel translate="title">
                                    <title>UPS Label</title>
                                    <sort_order>40</sort_order>
                                </upslabel>
                            </children>
                        </general>
                        <Infomodus_Upslabel>
                            <title>Upslabel Module</title>
                            <sort_order>10</sort_order>
                        </Infomodus_Upslabel>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <upslabel>
                    <file>upslabel.xml</file>
                </upslabel>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <upslabel_core_block_abstract_prepare_layout_before>
                        <class>upslabel/observer</class>
                        <method>initUpslabel</method>
                    </upslabel_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <global>
        <models>
            <upslabel>
                <class>Infomodus_Upslabel_Model</class>
                <resourceModel>upslabel_mysql4</resourceModel>
            </upslabel>
            <upslabel_mysql4>
                <class>Infomodus_Upslabel_Model_Mysql4</class>
                <entities>
                    <upslabel>
                        <table>upslabel</table>
                    </upslabel>
                    <upslabelrefund>
                        <table>upslabelrefund</table>
                    </upslabelrefund>
                </entities>
            </upslabel_mysql4>
        </models>
        <resources>
            <upslabel_setup>
                <setup>
                    <module>Infomodus_Upslabel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </upslabel_setup>
            <upslabel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </upslabel_write>
            <upslabel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </upslabel_read>
        </resources>
        <blocks>
            <upslabel>
                <class>Infomodus_Upslabel_Block</class>
            </upslabel>
        </blocks>
        <helpers>
            <upslabel>
                <class>Infomodus_Upslabel_Helper</class>
            </upslabel>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view>Infomodus_Upslabel_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                    <sales_order_creditmemo_view>Infomodus_Upslabel_Block_Adminhtml_Sales_Order_Creditmemo_View</sales_order_creditmemo_view>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>