.toplevel {
	float:left;
	position:relative;
	padding-left:20px;
	padding-right:20px;
	text-align:center;
	font-weight:bold;
	font-family:Arial;
	font-size:11px;
	line-height:16px;
	border-right:1px solid #bbbbbb;
	border-left:1px solid #efefef;
	cursor:pointer;
	z-index:9999;
}

.toplevel:hover {
	border:1px solid #cccccc;
	border-bottom:none;
	background-color:#d9d9d9;
}

.sublevel-pan {
	position:absolute;
	visibility:hidden;
	left:-1px;
	top:16px;
	width:180px;
	background-color:#f5f5f5;
	border:1px solid #cccccc;
}

.toplevel:hover .sublevel-pan, .sublevel-pan:hover {
	visibility:visible;
}

.sublevel {
	text-align:left;
	padding-left:20px;
	font-weight:bold;
	font-family:Arial;
	font-size:11px;
	line-height:18px;
	border:1px solid #f5f5f5;
	background-repeat:no-repeat;
}

.sublevel:hover {
	border:1px solid #bbbbbb;
	background-color:#dddddd;
}
