<?xml version="1.0"?>
<config>
    <modules>
        <Indies_Partialpaymentadmin>
            <version>3.2.0</version>
			<depends>Indies_Partialpayment</depends>
        </Indies_Partialpaymentadmin>
    </modules>
    <adminhtml>
		<layout>
			<updates>
				<partialpaymentadmin>
					<file>partialpaymentadmin.xml</file>
				</partialpaymentadmin>
			</updates>
		</layout>
  	</adminhtml> 
	<admin>
	<routers>
		<partialpaymentadmin>
			<use>admin</use>
			<args>
				<module>Indies_Partialpaymentadmin</module>
				<frontName>partialpaymentadmin</frontName>
			</args>
		</partialpaymentadmin>
	</routers>
	</admin>
	<global>
		<rewrite>
		  <Indies_Partialpaymentadmin_Adminhtml_PartialpaymentadminController>
			<from><![CDATA[#^/partialpayment/adminhtml_partialpayment/#]]></from>
			<to>/partialpaymentadmin/adminhtml_partialpaymentadmin/</to>
		  </Indies_Partialpaymentadmin_Adminhtml_PartialpaymentadminController>
		</rewrite>
		<events>
			<adminhtml_sales_order_create_process_data_before>
				<observers>
					<partialpaymentadmin>
						<type>singleton</type>
					  	<class>Indies_Partialpaymentadmin_Model_Observer</class>
					  	<method>CreateProcessDataBefore</method>
				  	</partialpaymentadmin>
			  	</observers>
			</adminhtml_sales_order_create_process_data_before>
		</events>
		<models>
            <partialpaymentadmin>
                <class>Indies_Partialpaymentadmin_Model</class>
            </partialpaymentadmin>
        </models>
		<blocks>
			<partialpaymentadmin>
				<class>Indies_Partialpaymentadmin_Block</class>
			</partialpaymentadmin>
			<adminhtml>
    			<rewrite>
        			<sales_order_create_totals_subtotal>Indies_Partialpaymentadmin_Block_Adminhtml_Sales_Order_Create_Totals_Subtotal</sales_order_create_totals_subtotal>
    			</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<partialpaymentadmin>
				<class>Indies_Partialpaymentadmin_Helper</class>
			</partialpaymentadmin>
		</helpers>
    </global>
</config>