<?xml version="1.0"?>
<!-- 
/**
 * @category   Indies
 * @package    Indies_Partialsubscription
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Indies_Partialsubscription>
            <version>3.2.0</version>
        </Indies_Partialsubscription>
    </modules>
    <adminhtml>
    </adminhtml>	
    <global>
		<events>
			<model_save_before>
				<observers>
					<partialpayment_save_after>
						<type>singleton</type>
						<class>partialsubscription/observer</class>
						<method>savePartialPayment</method>
					 </partialpayment_save_after>
				</observers>
			</model_save_before>
            <sales_quote_save_before>
                <observers>
                    <partialsubscription>
                        <type>singleton</type>
                        <class>partialsubscription/observer</class>
                        <method>savePaymentInfoInSession</method>
                    </partialsubscription>
                </observers>
            </sales_quote_save_before>
            <checkout_type_onepage_save_order>
                <observers>
                    <partialsubscription>
                        <type>singleton</type>
                        <class>partialsubscription/observer</class>
                        <method>onepageCheckoutSaveOrderBefore</method>
                    </partialsubscription>
                </observers>
            </checkout_type_onepage_save_order>
            <payment_method_is_active>
                <observers>
                    <partialsubscription>
                        <type>singleton</type>
                        <class>partialsubscription/observer</class>
                        <method>paymentIsAvailable</method>
                    </partialsubscription>
                </observers>
            </payment_method_is_active>
            <sales_order_item_save_after>
                <observers>
                    <partialsubscription>
                        <class>partialsubscription/observer</class>
                        <method>salesOrderItemSaveAfter</method>
                    </partialsubscription>
                </observers>
            </sales_order_item_save_after>
            <checkout_allow_guest>
                <observers>
                    <partialsubscription>
                        <type>singleton</type>
                        <class>partialsubscription/observer</class>
                        <method>checkGuestChecoutAvail</method>
                    </partialsubscription>
                </observers>
            </checkout_allow_guest>
        </events>	
        <models>
           <partialsubscription>
                <class>Indies_Partialsubscription_Model</class>                
            </partialsubscription>
			<paypal>
				<rewrite>
					<pro>Indies_Partialsubscription_Model_Pro</pro> 				
				</rewrite>
			</paypal>
        </models>
		<resources>
            <partialsubscription_setup>
                <setup>
                    <module>Indies_Partialsubscription</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </partialsubscription_setup>
            <partialsubscription_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </partialsubscription_write>
            <partialsubscription_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </partialsubscription_read>
        </resources>
        <helpers>
			<partialsubscription>
                <class>Indies_Partialsubscription_Helper</class>
            </partialsubscription>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <indies_partialsubscription>
                <!--<schedule><cron_expr>0 0,12 * * *</cron_expr></schedule>-->
                <run><model>partialsubscription/observer::processInstallmentPayment</model></run>
            </indies_partialsubscription>
        </jobs> 
    </crontab>
</config>