<?xml version="1.0"?>
<config>
    <modules>
        <Indies_Deposit>
            <version>3.2.0</version>
			<depends>Indies_Partialpayment</depends>
        </Indies_Deposit>
    </modules>
    <frontend>
        <routers>
            <deposit>
                <use>standard</use>
                <args>
                    <module>Indies_Deposit</module>
                    <frontName>deposit</frontName>
                </args>
            </deposit>
        </routers>
        <layout>
            <updates>
                <deposit>
                    <file>deposit.xml</file>
                </deposit>
            </updates>
        </layout>
		<translate>
            <modules>
                <deposit>
                    <files>
                        <default>Indies_Partialpayment.csv</default>
                    </files>
                </deposit>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<deposit>
				<use>admin</use>
				<args>
					<module>Indies_Deposit</module>
					<frontName>deposit</frontName>
				</args>
			</deposit>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<deposit>
					<file>deposit.xml</file>
				</deposit>
			</updates>
		</layout>
		<translate>
            <modules>
                <deposit>
                    <files>
                        <default>Indies_Partialpayment.csv</default>
                    </files>
                </deposit>
            </modules>
        </translate>
    </adminhtml>   
    <global>
    	<sales>
            <quote>
                <totals>
                    <deposit>
                        <class>deposit/sales_quote_address_total_deposit</class>
						<after>subtotal</after>
                    </deposit>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <deposit>
                        <class>deposit/sales_order_total_invoice_deposit</class>
						<after>grand_total</after>
                    </deposit>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <deposit>
                        <class>deposit/sales_order_total_creditmemo_deposit</class>
						<after>grand_total</after>
                    </deposit>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
        	<paypal_prepare_line_items>
        		<observers>
        			<paypal_prepare_line_items>
        				<class>deposit/observer</class>
                        <method>updatePaypalTotal</method>
        			</paypal_prepare_line_items>
        		</observers>
        	</paypal_prepare_line_items>
           	<sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>deposit/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>deposit/observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_after>
			<sales_quote_collect_totals_after>
				<observers>
					<deposit>
						<type>singleton</type>
						<class>deposit/observer</class>
						<method>setCorrectTax</method>
					</deposit>
				</observers>
			</sales_quote_collect_totals_after>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
				<deposit_amount><to_order>*</to_order></deposit_amount>
                <base_deposit_amount><to_order>*</to_order></base_deposit_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <deposit translate="title">
                    <title>Paying Now</title>
                    <source_field>deposit_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>645</sort_order>
                    <amount_prefix>-</amount_prefix>
                </deposit>
            </totals>
        </pdf>
        <models>
            <deposit>
                <class>Indies_Deposit_Model</class>
                <resourceModel>deposit_mysql4</resourceModel>
            </deposit>
            <deposit_mysql4>
                <class>Indies_Deposit_Model_Mysql4</class>
                <entities>
                    <deposit>
                        <table>deposit</table>
                    </deposit>
                </entities>
            </deposit_mysql4>
        </models>
        <resources>
            <deposit_setup>
                <setup>
                    <module>Indies_Deposit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deposit_setup>
            <deposit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deposit_write>
            <deposit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deposit_read>
        </resources>
        <blocks>
            <deposit>
				<class>Indies_Deposit_Block</class>
            </deposit>
        </blocks>
        <helpers>
            <deposit>
                <class>Indies_Deposit_Helper</class>
            </deposit>
        </helpers>
    </global>
    <default>
    	<sales>
            <totals_sort>
				<deposit>105</deposit>
            </totals_sort>
        </sales>
    </default>
</config>