<?xml version="1.0"?>
<config>
    <modules>
        <Indies_Outstockdiscount>
            <version>3.2.0</version>
			<depends>Indies_Partialpayment</depends>
        </Indies_Outstockdiscount>
    </modules>
    <frontend>
        <routers>
            <outstockdiscount>
                <use>standard</use>
                <args>
                    <module>Indies_Outstockdiscount</module>
                    <frontName>outstockdiscount</frontName>
                </args>
            </outstockdiscount>
        </routers>
		<layout>
            <updates>
                <outstockdiscount>
                    <file>outstockdiscount.xml</file>
                </outstockdiscount>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
			<outstockdiscount>
				<use>admin</use>
				<args>
					<module>Indies_Outstockdiscount</module>
					<frontName>outstockdiscount</frontName>
				</args>
			</outstockdiscount>
        </routers>
    </admin>
	<adminhtml>
		<layout>
			<updates>
				<outstockdiscount>
					<file>outstockdiscount.xml</file>
				</outstockdiscount>
			</updates>
		</layout>
	</adminhtml>
    <global>
		<sales>
            <quote>
                <totals>
                    <outstockdiscount>
                        <class>outstockdiscount/sales_quote_address_total_outstockdiscount</class>
						<after>subtotal</after>
                    </outstockdiscount>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <outstockdiscount>
                        <class>outstockdiscount/sales_order_total_invoice_outstockdiscount</class>
						<after>grand_total</after>
                    </outstockdiscount>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <outstockdiscount>
                        <class>outstockdiscount/sales_order_total_creditmemo_outstockdiscount</class>
						<after>grand_total</after>
                    </outstockdiscount>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
        	<paypal_prepare_line_items>
        		<observers>
        			<paypal_prepare_line_items>
        				<class>outstockdiscount/observer</class>
                        <method>updatePaypalTotal</method>
        			</paypal_prepare_line_items>
        		</observers>
        	</paypal_prepare_line_items>
           	<sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>outstockdiscount/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>outstockdiscount/observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_after>
		   <sales_order_place_after>
				<observers>
					<sales_order_place_after>
						<class>outstockdiscount/observer</class>
						<method>salesOrderPlaced</method>
					</sales_order_place_after>
				</observers>
			</sales_order_place_after>
        </events>
		<fieldsets>
            <sales_convert_quote_address>
                <outstock_discount_amount><to_order>*</to_order></outstock_discount_amount>
                <base_outstock_discount_amount><to_order>*</to_order></base_outstock_discount_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <outstockdiscount translate="title">
                    <title>OutOfStock Discount</title>
                    <source_field>outstock_discount_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix>-</amount_prefix>
                </outstockdiscount>
            </totals>
        </pdf>
		<models>
            <outstockdiscount>
                <class>Indies_Outstockdiscount_Model</class>
            </outstockdiscount>
        </models>
        <resources>
            <outstockdiscount_setup>
                <setup>
                    <module>Indies_Outstockdiscount</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </outstockdiscount_setup>
            <outstockdiscount_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </outstockdiscount_write>
            <outstockdiscount_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </outstockdiscount_read>
        </resources>
        <blocks>
            <outstockdiscount>
				<class>Indies_Outstockdiscount_Block</class>
            </outstockdiscount>
        </blocks>
		<helpers>
            <outstockdiscount>
				<class>Indies_Outstockdiscount_Helper</class>
            </outstockdiscount>
        </helpers>
    </global>
	<default>
    	<sales>
            <totals_sort>
				<outstockdiscount>90</outstockdiscount>
            </totals_sort>
        </sales>
    </default>
	<crontab>
        <jobs>
            <indies_outstockdiscount>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>outstockdiscount/observer::notifyForOutOfStockRecovery</model></run>
            </indies_outstockdiscount>
        </jobs> 
    </crontab>
</config>