<?xml version="1.0"?>
<!-- 
/**
 * @category   Indies
 * @package    Indies_Partialpayment
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Indies_Partialpayment>
            <version>3.2.0</version>
			<name>Deposit Payment</name>
			<url>http://www.indieswebs.com/magento-deposit-payment.html</url>
        </Indies_Partialpayment>
    </modules>
    <frontend>
        <routers>
            <partialpayment>
                <use>standard</use>
                <args>
                    <module>Indies_Partialpayment</module>
                    <frontName>partialpayment</frontName>
                </args>
            </partialpayment>
			<checkout>
                <args>
					<modules>
						<Indies_Partialpayment before="Mage_Checkout">Indies_Partialpayment</Indies_Partialpayment>
					</modules>
                </args>
			</checkout>
			<paypal>
                <args>
           		    <modules>
                		  <Indies_Partialpayment before="Mage_Paypal">Indies_Partialpayment</Indies_Partialpayment>
              	    </modules>
            	</args>
       		</paypal>
        </routers>
		<secure_url>
			<partialpayment>/partialpayment</partialpayment>
		</secure_url>
		<unsecure_url>
			<partialpayment>/partialpayment</partialpayment>
		</unsecure_url>
        <layout>
            <updates>
                <partialpayment>
                    <file>partialpayment.xml</file>
                </partialpayment>
            </updates>
        </layout>
		<translate>
            <modules>
                <partialpayment>
                    <files>
                        <default>Indies_Partialpayment.csv</default>
                    </files>
                </partialpayment>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<partialpayment>
				<use>admin</use>
				<args>
					<module>Indies_Partialpayment</module>
					<frontName>partialpayment</frontName>
				</args>
			</partialpayment>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<partialpayment module="partialpayment">
				<title>Partial Payment</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="partialpayment">
						<title>Partially Paid Orders</title>
						<sort_order>0</sort_order>
						<action>partialpayment/adminhtml_partialpayment</action>
					</items>
				</children>
			</partialpayment>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
            	        <system>
        	                <children>
    	                        <config>
	                                <children>
                                        <partialpayment translate="title" module="partialpayment">
                                            <title>Partial Payment</title>
                                        </partialpayment>
                                	</children>
                            	</config>
                        	</children>
                    	</system>
						<partialpayment>
								<title>Partial Payment Module</title>
								<sort_order>10</sort_order>
								<children>
									  <items>
											<title>Partially Paid Orders</title>
											<sort_order>3</sort_order>
									  </items>
								</children>
						</partialpayment>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<partialpayment>
					<file>partialpayment.xml</file>
				</partialpayment>
			</updates>
		</layout>
		<translate>
            <modules>
                <partialpayment>
                    <files>
                        <default>Indies_Partialpayment.csv</default>
                    </files>
                </partialpayment>
            </modules>
        </translate>
	</adminhtml>   
    <global>
		<events>
			<controller_action_postdispatch>
                <observers>
                    <controller_action_after>
                        <class>Indies_Partialpayment_Model_Observer</class>
                        <method>PartialPaymentStatus</method>
                    </controller_action_after>
                </observers>
            </controller_action_postdispatch>
			<controller_action_predispatch_checkout_cart_add>
					<observers>
						<partialpayment>
							<class>Indies_Partialpayment_Model_Observer</class>
							<method>beforeAddToCart</method>
						</partialpayment>
					</observers>
			</controller_action_predispatch_checkout_cart_add>
			<checkout_cart_add_product_complete>
				<observers>
					<partialpayment>
						<type>singleton</type>
						<class>Indies_Partialpayment_Model_Observer</class>
						<method>addProductToCart</method>
					</partialpayment>
				</observers>
			</checkout_cart_add_product_complete>
            <sales_order_save_before>
                <observers>
                    <partialpayment>
                        <class>Indies_Partialpayment_Model_Observer</class>
                        <method>salesOrderSaveBefore</method>
                    </partialpayment>
                </observers>
            </sales_order_save_before>
			<sales_order_place_after>
				<observers>
					<partpym>
						<type>singleton</type>
						<class>Indies_Partialpayment_Model_Observer</class>
						<method>salesOrderPlaced</method>
					</partpym>
				</observers>
			</sales_order_place_after>
		</events>
        <models>
			<sales>
                <rewrite>
					<order_payment>Indies_Partialpayment_Model_Sales_Order_Payment</order_payment>
					<service_order>Indies_Partialpayment_Model_Sales_Service_Order</service_order>
                </rewrite>
            </sales>
			<atos>
                <rewrite>
					<api_request>Indies_Partialpayment_Model_Api_Request</api_request>
                </rewrite>
            </atos>
			<eway>
                <rewrite>
					<api_direct>Indies_Partialpayment_Model_Api_Direct</api_direct>
                </rewrite>
            </eway>
            <partialpayment>
                <class>Indies_Partialpayment_Model</class>
                <resourceModel>partialpayment_mysql4</resourceModel>
            </partialpayment>
            <partialpayment_mysql4>
                <class>Indies_Partialpayment_Model_Mysql4</class>
                <entities>
                    <partialpayment>
                        <table>partial_payment</table>
                    </partialpayment>
					<installment>
						<table>partial_payment_installment</table>
					</installment>
					<product>
						<table>partial_payment_product</table>
					</product>
					<partial_payment_capture>
						<table>partial_payment_capture</table>
					</partial_payment_capture>
					<partial_payment_capture_transaction>
						<table>partial_payment_capture_transaction</table>
					</partial_payment_capture_transaction>
                </entities>
            </partialpayment_mysql4>
			<sagepaysuite>
				<rewrite>
					 <sagePayDirectPro>Indies_Partialpayment_Model_SagePayDirectPro</sagePayDirectPro>
					 <sagePayServer>Indies_Partialpayment_Model_SagePayServer</sagePayServer>
				</rewrite>
        	</sagepaysuite>
			<paypal>
    			<rewrite>
					<api_nvp>Indies_Partialpayment_Model_Api_Nvp</api_nvp>
					<api_standard>Indies_Partialpayment_Model_Api_Standard</api_standard>
					<direct>Indies_Partialpayment_Model_Direct</direct>
        			<standard>Indies_Partialpayment_Model_Standard</standard>
    			</rewrite>
			</paypal>
			<idealcheckoutideal>
    			<rewrite>
        			<idealcheckoutideal>Indies_Partialpayment_Model_Idealcheckoutideal</idealcheckoutideal>
    			</rewrite>
			</idealcheckoutideal>
        </models>
        <resources>
            <partialpayment_setup>
                <setup>
                    <module>Indies_Partialpayment</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </partialpayment_setup>
            <partialpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </partialpayment_write>
            <partialpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </partialpayment_read>
        </resources>
        <blocks>
            <partialpayment>
                <class>Indies_Partialpayment_Block</class>
            </partialpayment>
			<tax>
    			<rewrite>
        			<checkout_subtotal>Indies_Partialpayment_Block_Tax_Checkout_Subtotal</checkout_subtotal>
    			</rewrite>
			</tax>
			<adminhtml>
				<rewrite>
					<system_config_form>Indies_Partialpayment_Block_Adminhtml_System_Config_Form</system_config_form>
				</rewrite>
				<rewrite>
					<widget_form_element_dependence>Indies_Partialpayment_Block_Adminhtml_Widget_Form_Element_Dependence</widget_form_element_dependence>
				</rewrite>
    		</adminhtml>
        </blocks>
        <helpers>
            <partialpayment>
                <class>Indies_Partialpayment_Helper</class>
            </partialpayment>
        </helpers>
		<template>
			<email>
				<partialpayment_order_confirmation_email_order_confirmation_template module="partialpayment">
					<label>Partial Payment Order Confirmation</label>
					<file>partialpayment_order_confirmation.html</file>
					<type>html</type>
				</partialpayment_order_confirmation_email_order_confirmation_template>
				<partialpayment_installment_reminder_email_reminder_email_template module="partialpayment">
					<label>Partial Payment Installment Reminder</label>
					<file>partialpayment_installment_reminder.html</file>
					<type>html</type>
				</partialpayment_installment_reminder_email_reminder_email_template>
				<partialpayment_installment_confirmation_email_installment_confirmation_template module="partialpayment">
					<label>Partial Payment Installment Confirmation</label>
					<file>partialpayment_installment_confirmation.html</file>
					<type>html</type>
				</partialpayment_installment_confirmation_email_installment_confirmation_template>
				<partialpayment_stock_availability_email_stock_availability_email_template module="partialpayment">
					<label>Partial Payment Stock Availability</label>
					<file>partialpayment_stock_availability.html</file>
					<type>html</type>
				</partialpayment_stock_availability_email_stock_availability_email_template>
			</email>
		</template>
		<rewrite>
			<partialpayment_onepage>
				  <from><![CDATA[#^/checkout/onepage/#]]></from>
				  <to>/partialpayment/onepage/</to>
			</partialpayment_onepage>
	   </rewrite>
	   <rewrite>
			<partialpayment_payment>
				  <from><![CDATA[#^/atos/payment/#]]></from>
				  <to>/partialpayment/payment/</to>
			</partialpayment_payment>
	   </rewrite>
    </global>
	<default>
		<partialpayment>
        	<license_status_group>
				<status>0</status>
			</license_status_group>
			<functionalities_group>
				<brand_label>Deposit Payment</brand_label>
				<allow_for_guest_checkout>0</allow_for_guest_checkout>
            	<apply_partial_payment_to>2</apply_partial_payment_to>
				<minimum_order_amount>0</minimum_order_amount>
			</functionalities_group>
			<order_confirmation_email>
				<order_confirmation_sender>sales</order_confirmation_sender>
				<order_confirmation_template>partialpayment_order_confirmation_email_order_confirmation_template</order_confirmation_template>
			</order_confirmation_email>
			<installment_reminder_email>
				<reminder_email_sender>sales</reminder_email_sender>
				<reminder_email_template>partialpayment_installment_reminder_email_reminder_email_template</reminder_email_template>
			</installment_reminder_email>
			<installment_confirmation_email>
				<installment_confirmation_sender>sales</installment_confirmation_sender>
				<installment_confirmation_template>partialpayment_installment_confirmation_email_installment_confirmation_template</installment_confirmation_template>
			</installment_confirmation_email>
			<stock_availability_email>
				<stock_availability_email_sender>sales</stock_availability_email_sender>
				<stock_availability_email_template>partialpayment_stock_availability_email_stock_availability_email_template</stock_availability_email_template>
			</stock_availability_email>	
		</partialpayment>
	</default>
</config>